

.main__wrapper{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 30px;
}
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* Header style*/
.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__wrapper .header__info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 50px;
  padding: 10px;
  background-color: var(--color-surface-1dp);
  border-radius: 10px;  
  color: var(--color-black);
  box-shadow: 0px 0px 30px #00000026;
}

.darkmode .header__wrapper .header__info{
  color: var(--color-white);
}

.header__info .players__info{
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.players__info .player__image{
  width: 30px;
  border-radius: 50%;
}

.players__info .player__name{
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  font-family: var(--font-body);
  text-transform: capitalize;
}

.players__info .player__name .name{
  font-size: var(--font-size-sm);
  font-weight: 400;
}
.players__info .player__name .title{
  font-size: var(--font-size-xsm);
  font-weight: 300;
}

.header__info .score__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  font-family: var(--font-body);
}

.header__info .score__info .title{
  font-size: var(--font-size-xsm);
  font-weight: 400;
}

.header__info .score__info .value{
  font-size: var(--font-size-sm);
  font-weight: 500;
}

.header__info .score__info span{
 display: block;
}

.header__wrapper .header__nav{
  display: flex;
  align-items: center;
  column-gap: 5px;
} 

.header__nav .rules__button{
  width: 40px;
  height: 40px;
  background-color: var(--color-surface-1dp);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  cursor: pointer;
}

.rules__button ion-icon{
  font-size: 20px;
}

.header__nav .toggle__wrapper{
  display: flex;
}

.toggle__wrapper .toggle__button{
  width: 40px;
  height: 40px;
  background-color: var(--color-surface-1dp);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.toggle__button ion-icon{
  color: var(--color-black);
  font-size: 20px;
  position: absolute;
  transition: transform .3s ease-in-out;
}


.darkmode .toggle__button ion-icon{
  color: var(--color-white);
}

.toggle__button .light__icon{
  opacity: 0;
}
.darkmode .toggle__button .dark__icon{
  opacity: 0;
}
.darkmode .toggle__button .light__icon{
  opacity: 1;
}
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* expression style*/
.game__expression{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.game__expression .expression__wrapper{
  display: inline-block;
  width: 150px;
  height: 150px;
}

.game__expression.start .player__expression{
  transform-origin: left;
  animation: playerShake .5s ease infinite;
}
.game__expression.start .bot__expression{
  transform-origin: right;
  animation: botShake .5s ease infinite;
}
@keyframes playerShake {
  50%{
    transform: rotate(10deg);
  }
}
@keyframes botShake {
  50%{
    transform: rotate(-10deg);
  }
}


.expression__wrapper.bot__expression img{
  transform: rotate(-90deg) rotateY(180deg);
}
.expression__wrapper.player__expression img{
  transform: rotate(90deg); 
}

.game__expression .expression__score{
  position: absolute;
  top: -50px;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  color: var(--color-primary);
  font-size: var(--font-size-lg);
  font-family: var(--font-main);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* deck style*/
.footer__deck{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__deck .nav__deck{
  width: 50px;
  height: 50px;
  background-color: var(--color-surface-1dp);
  color: var(--color-primary);
  border-radius: 10px;
  font-size: 30px;
  box-shadow: 0px 0px 30px #00000026;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.option__deck {
  width: 60%;
  height: 80px;
  background-color: var(--color-surface-1dp);
  border-radius: 10px;
  box-shadow: 0px 0px 30px #00000026;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  padding: 10px;
}

.option__deck .option__button{
  height: 100%;
  max-width: 33%;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}
.option__deck .option__button:disabled{
  opacity: .5;
  transform: scale(.8);
}
.option__button img {
  height: 100%;
  width: auto;
  object-fit: contain;
  max-width: 100%;
  pointer-events: none;
}





/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* mobile regular style*/
@media screen and (min-width: 375px){
  .header__wrapper .header__nav{
    column-gap: 10px;
  }
}  

/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* mobile large style*/
 @media screen and (min-width: 414px){
  .header__wrapper .header__info{
    width: 280px;
    height: 70px;
  }
  .header__info .players__info{
    column-gap: 10px;
  }
  .players__info .player__name{
    row-gap: 3px;
  }

  .header__info .score__info{
    row-gap: 10px;
  }
  .header__wrapper .header__nav{
    column-gap: 15px;
  }

  
  .game__expression .expression__wrapper{
    width: 180px;
    height: 180px;
  }


  .footer__deck .nav__deck{
    width: 60px;
    height: 60px;
  }

  .option__deck {
    height: 100px;
    padding: 10px 15px;
  } 
}  
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* mobile larger style*/
 @media screen and (min-width: 475px){
  .main__wrapper{
    padding: 20px 20px 30px;
  }

  .header__wrapper .header__info{
    width: 300px;
    height: 70px;
    padding: 10px 15px;
  }
  .header__info .players__info{
    column-gap: 10px;
  }
  .players__info .player__name{
    row-gap: 3px;
  }

  .header__info .score__info{
    row-gap: 10px;
  }
  .header__wrapper .header__nav{
    column-gap: 20px;
  }

  .header__nav .rules__button{
    width: 50px;
    height: 50px;
  }

  .rules__button ion-icon{
    font-size: 25px;
  }

  .toggle__wrapper .toggle__button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  .toggle__button ion-icon{
    font-size: 25px;
  }
  
  .game__expression .expression__wrapper{
    width: 180px;
    height: 180px;
  }

  
  .footer__deck .nav__deck{
    width: 60px;
    height: 60px;
    font-size: 30px;
  }

  .option__deck {
    width: 65%;
    padding: 10px 20px;
  } 
}   
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* mobile large style*/
@media screen and (min-width: 600px){
  .game__expression,
  .footer__deck{
    width: 570px;
  }
  .header__wrapper .header__info{
    width: 400px;
    height: 100px;
    padding: 10px 20px;
  }
  .header__info .players__info{
    column-gap: 10px;
  }
  .players__info .player__image{
    width: 50px;
  }
}  
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* desktop style*/
@media screen and (min-width: 1024px){
  .main__wrapper{
    padding: 30px 20px 50px;
  }

  .header__wrapper{
    max-width: 1360px;
  }

  .header__nav .rules__button:hover{
    background-color: var(--color-black);    
  }
  .header__nav .rules__button:hover ion-icon{
    color: var(--color-surface-1dp);
  }
  .darkmode .header__nav .rules__button:hover{
    background-color: var(--color-white);    
  }
  .darkmode .header__nav .rules__button:hover ion-icon{
    color: var(--color-black);
  }


  .option__button:hover img{
    transform: translateY(-10px);
  }


  .footer__deck .nav__deck:hover{
    background-color: var(--color-black);
    color: var(--color-surface-1dp);
  }
  .darkmode .footer__deck .nav__deck:hover{
    background-color: var(--color-white);
    color: var(--color-black);
  }
  
  .toggle__wrapper .toggle__button:hover{
    background-color: var(--color-black);
  }
  .toggle__button:hover ion-icon{
    color: var(--color-surface-1dp);
    transform: rotate(180deg);
  }
  .darkmode .toggle__wrapper .toggle__button:hover{
    background-color: var(--color-white);
  }
  .darkmode .toggle__button:hover ion-icon{
    color: var(--color-black);
  }

  .game__expression,
  .footer__deck{
    width: 800px;
  }
    
  .game__expression .expression__wrapper{
    width: 250px;
    height: 250px;
  }

  
  .footer__deck .nav__deck{
    width: 100px;
    height: 100px;
    font-size: 60px;
  }
  .option__deck {
    height: 150px;
  } 
}  


