

.main__wrapper{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px 30px;
}
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* Header style*/
.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper .header__info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 50px;
  padding: 10px;
  background-color: var(--color-surface-1dp);
  border-radius: 8px;  
  color: var(--color-black);
  box-shadow: 0px 0px 30px #00000026;
}

.darkmode .header__wrapper .header__info{
  color: var(--color-white);
}

.header__info .players__info{
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.players__info .player__image{
  width: 30px;
  border-radius: 50%;
}

.players__info .player__name{
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  font-family: var(--font-body);
  text-transform: capitalize;
}

.players__info .player__name .name{
  font-size: var(--font-size-sm);
  font-weight: 600;
}
.players__info .player__name .title{
  font-size: var(--font-size-xsm);
  font-weight: 300;
}

.header__info .score__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  font-family: var(--font-body);
}

.header__info .score__info .title{
  font-size: var(--font-size-xsm);
  font-weight: 500;
}

.header__info .score__info .value{
  font-size: var(--font-size-sm);
  font-weight: 600;
}

.header__info .score__info span{
 display: block;
}

.header__wrapper .header__nav{
  display: flex;
  align-items: center;
  column-gap: 5px;
} 

.header__nav .rules__button{
  width: 40px;
  height: 40px;
  background-color: var(--color-surface-1dp);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  cursor: pointer;
}

.rules__button ion-icon{
  font-size: 20px;
}


.header__nav .toggle__wrapper{
  display: flex;
}

.toggle__wrapper .toggle__button{
  width: 40px;
  height: 40px;
  background-color: var(--color-surface-1dp);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.toggle__button ion-icon{
  color: var(--color-black);
  font-size: 20px;
  position: absolute;
  transition: transform .3s ease-in-out;
}

.toggle__wrapper .toggle__button:hover{
  background-color: var(--color-black);
}
.toggle__button:hover ion-icon{
  color: var(--color-surface-1dp);
  transform: rotate(180deg);
}

.darkmode .toggle__button ion-icon{
  color: var(--color-white);
}
.darkmode .toggle__wrapper .toggle__button:hover{
  background-color: var(--color-white);
}
.darkmode .toggle__button:hover ion-icon{
  color: var(--color-black);
}

.toggle__button .light__icon{
  opacity: 0;
}
.darkmode .toggle__button .dark__icon{
  opacity: 0;
}
.darkmode .toggle__button .light__icon{
  opacity: 1;
}
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* expression style*/
.game__expression{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game__expression .expression__wrapper{
  display: inline-block;
  width: 150px;
  height: 150px;
}

.expression__wrapper.bot__expression img{
  transform: rotate(-90deg);
}
.expression__wrapper.player__expression img{
  transform: rotate(90deg); 
}
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* deck style*/
.footer__deck{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__deck .nav__deck{
  width: 50px;
  height: 50px;
  background-color: var(--color-surface-1dp);
  color: var(--color-primary);
  border-radius: 10px;
  font-size: 30px;
  box-shadow: 0px 0px 30px #00000026;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.option__deck {
  width: 220px;
  height: 80px;
  background-color: var(--color-surface-1dp);
  border-radius: 10px;
  box-shadow: 0px 0px 30px #00000026;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.option__deck .option__button{
  width: 30%;
  cursor: pointer;
}




/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* mobile regular style*/
@media screen and (min-width: 375px){
  .header__wrapper .header__nav{
    column-gap: 10px;
  }
}  

/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* mobile large style*/
 @media screen and (min-width: 414px){
  .header__wrapper .header__info{
    width: 280px;
    height: 70px;
  }
  .header__info .players__info{
    column-gap: 10px;
  }
  .players__info .player__name{
    row-gap: 3px;
  }

  .header__info .score__info{
    row-gap: 10px;
  }
  .header__wrapper .header__nav{
    column-gap: 15px;
  }

  
  .game__expression .expression__wrapper{
    width: 180px;
    height: 180px;
  }


  .footer__deck .nav__deck{
    width: 60px;
    height: 60px;
  }

  .option__deck {
    width: 240px;
    height: 100px;
    padding: 15px;
  }
}  
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* mobile larger style*/
 @media screen and (min-width: 475px){
  .main__wrapper{
    padding: 20px 20px 30px;
  }

  .header__wrapper .header__info{
    width: 300px;
    height: 70px;
    padding: 10px 15px;
  }
  .header__info .players__info{
    column-gap: 10px;
  }
  .players__info .player__name{
    row-gap: 3px;
  }

  .header__info .score__info{
    row-gap: 10px;
  }
  .header__wrapper .header__nav{
    column-gap: 20px;
  }

  .header__nav .rules__button{
    width: 50px;
    height: 50px;
  }

  .rules__button ion-icon{
    font-size: 25px;
  }

  .toggle__wrapper .toggle__button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  .toggle__button ion-icon{
    font-size: 25px;
  }
  
  .game__expression .expression__wrapper{
    width: 180px;
    height: 180px;
  }


  .footer__deck .nav__deck{
    width: 60px;
    height: 60px;
    font-size: 30px;
  }

  .option__deck {
    width: 280px;
    height: 100px;
    padding: 10px 20px;
  }
}   
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* mobile large style*/
@media screen and (min-width: 725px){
  .main__wrapper{
    padding: 20px 10px 30px;
  }
  .header__wrapper .header__info{
    width: 280px;
    height: 70px;
  }
  .header__info .players__info{
    column-gap: 10px;
  }
  .players__info .player__name{
    row-gap: 3px;
  }

  .header__info .score__info{
    row-gap: 10px;
  }
  .header__wrapper .header__nav{
    column-gap: 20px;
  }

  
  .game__expression .expression__wrapper{
    width: 180px;
    height: 180px;
  }


  .footer__deck .nav__deck{
    width: 60px;
    height: 60px;
    font-size: 35px;
  }

  .option__deck {
    width: 260px;
    height: 100px;
    padding: 15px;
  }
}  


