/* ----------------------------------------------- */
/* Imported Font  */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* Default Styles */
*,
*::after,
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

button{
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

html{
  scroll-behavior: smooth;
}

img{
  display: block;
  max-width: 100%;
}

input{
  all: unset;
}

:root {
  /* Font families */
  --font-main: "Space Mono", monospace;
  --font-body: "League Spartan", sans-serif;

  /* Colors */
  --color-primary: #5865F2;
  --color-background: #ECEEFE;
  --color-surface-1dp: #DADDFC;
  --color-surface-2dp: #9098F6;
  --color-bubble-1dp: #C7CCFB;
  --color-bubble-2dp: #B5BBF9;
  --color-bubble-3dp: #A2A9F8;
  --color-black: #0A0B1B;
  --color-white: #ECEEFE;

  /* Base font sizes (mobile-first) */
  --font-size-lg: 24px;
  --font-size-md: 20px;
  --font-size-sm: 16px;
  --font-size-xsm: 14px;
}

/* Dark Theme Colors style */
.darkmode{
  --color-primary: #5865F2;
  --color-background: #0A0B1B;
  --color-surface-1dp: #141636;
  --color-surface-2dp: #3B43A1;
  --color-bubble-1dp: #1D2251;
  --color-bubble-2dp: #272D6C;
  --color-bubble-3dp: #313886;
  --color-black: #0A0B1B;
  --color-white: #ECEEFE;
}

@media screen and (min-width: 725px) {
  :root {
    --font-size-lg: 32px;
    --font-size-md: 24px;
    --font-size-sm: 18px;
    --font-size-xsm: 16px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --font-size-lg: 40px;
    --font-size-md: 28px;
    --font-size-sm: 20px;
    --font-size-xsm: 18px;
  }
}

body{
  position: relative;
  background-color: var(--color-background);
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* Modal Styles */
.modal__wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
  height: fit-content;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  backdrop-filter: blur(30px);
  background: var(--color-surface-1dp);
  background: transparent;
  box-shadow: 0px 0px 30px #0000001a;
  z-index: 999;
}

.modal__wrapper .modal__illustration{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.modal__wrapper .modal__image-wrapper{
  width: 250px;
}

.modal__wrapper .modal__title{
  display: block;
  font-family: var(--font-main);
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}

.darkmode .modal__wrapper .modal__title{
  color: var(--color-white);
}

.modal__wrapper .modal__button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  column-gap: 8px;
  color: var(--color-white);
  font-size: var(--font-size-md);
  transition: background-color .5s ease-in-out;
}

.darkmode .modal__button{
  color: var(--color-white);
}


.modal__button .button__text{
  font-family: var(--font-main);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.button__icon{
  transition: transform .5s ease-in-out;
}

.modal__wrapper .modal__button:hover{
  background-color: var(--color-surface-2dp);
}
.modal__button:hover .button__icon{
  transform: translateX(10px);
}
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* Mobile Large style */
@media screen and (min-width: 425px){
  .modal__wrapper{
    padding: 50px 30px;
  }

  .modal__wrapper .modal__image-wrapper{
    width: 250px;
  }
}  
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* Tablet style */
@media screen and (min-width: 725px){
  .modal__wrapper{
    padding: 50px 40px;
  }

  .modal__wrapper .modal__image-wrapper{
    width: 350px;
  }

  .modal__wrapper .modal__button{
    width: 220px;
    height: 70px;
    column-gap: 8px;
    transition: background-color .5s ease-in-out;
  }


  .modal__button .button__text{
    letter-spacing: 3px;
  }
}  
/* ----------------------------------------------- */



/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Signup style */

.modal__illustration-rps{
  display: none;
  width: 100%;
  position: absolute;
}

.modal__illustration-rps img{
  width: 100px;
}

.modal__wrapper.signup__form{
  padding: 50px;
}

.signup__form .modal__content{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.signup__form .modal__content .input__title{
  display: inline-block;
  text-transform: capitalize;
  color: var(--color-primary);
  font-weight: 600;
  font-family: var(--font-body);
  font-size: var(--font-size-md);
}

.modal__content .modal__input-box{
  position: relative;
  background-color: var(--color-surface-2dp);
  width: 250px;
  height: 50px;
  border-radius: 10px;
  color: var(--color-white);
  font-family: var(--font-body);
  font-size: var(--font-size-sm);
  text-transform: capitalize;
}

.darkmode .modal__content .modal__input-box{
  color: var(--color-white);
}

.modal__input-box label{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: opacity .3s ease-in-out;
}

.modal__input-box input{
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.modal__input-box input:valid~label,
.modal__input-box input:focus~label{
  opacity: 0;
}

.modal__input-box input:placeholder-shown~label{
  opacity: 1;
}

